{
  "presets": [
    ["next/babel"],
    ["@babel/preset-react"],
    ["@babel/preset-typescript"],
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": []
}